<div>
    <h2 id="page-heading">
        <span>Test Service Impls</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-test-service-impl" [routerLink]="['/test-service-impl/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Test Service Impl
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="testServiceImpls">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>User One To Many</span></th>
            <th><span>User Many To Many</span></th>
            <th><span>User One To One</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let testServiceImpl of testServiceImpls ;trackBy: trackId">
                <td><a [routerLink]="['/test-service-impl', testServiceImpl.id, 'view' ]">{{testServiceImpl.id}}</a></td>
                <td>
                    {{testServiceImpl.userOneToMany?.login}}
                </td>
                <td>
                    <span *ngFor="let userManyToMany of testServiceImpl.userManyToManies; let last = last">
                            {{userManyToMany.login}}{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    {{testServiceImpl.userOneToOne?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/test-service-impl', testServiceImpl.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/test-service-impl', testServiceImpl.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'test-service-impl/'+ testServiceImpl.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
