<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-test-one-to-one-my-suffix-heading">Create or edit a Test One To One</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!testOneToOne.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="testOneToOne.id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_testEntity">Test Entity</label>
                    <select class="form-control" id="field_testEntity" name="testEntity" [(ngModel)]="testOneToOne.testEntity">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="testEntityOption.id === testOneToOne.testEntity?.id ? testOneToOne.testEntity : testEntityOption" *ngFor="let testEntityOption of testentities; trackBy: trackTestEntityById">{{testEntityOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_testMapstruct">Test Mapstruct</label>
                    <select class="form-control" id="field_testMapstruct" name="testMapstruct" [(ngModel)]="testOneToOne.testMapstruct">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="testMapstructOption.id === testOneToOne.testMapstruct?.id ? testOneToOne.testMapstruct : testMapstructOption" *ngFor="let testMapstructOption of testmapstructs; trackBy: trackTestMapstructById">{{testMapstructOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_testServiceClass">Test Service Class</label>
                    <select class="form-control" id="field_testServiceClass" name="testServiceClass" [(ngModel)]="testOneToOne.testServiceClass">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="testServiceClassOption.id === testOneToOne.testServiceClass?.id ? testOneToOne.testServiceClass : testServiceClassOption" *ngFor="let testServiceClassOption of testserviceclasses; trackBy: trackTestServiceClassById">{{testServiceClassOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_testServiceImpl">Test Service Impl</label>
                    <select class="form-control" id="field_testServiceImpl" name="testServiceImpl" [(ngModel)]="testOneToOne.testServiceImpl">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="testServiceImplOption.id === testOneToOne.testServiceImpl?.id ? testOneToOne.testServiceImpl : testServiceImplOption" *ngFor="let testServiceImplOption of testserviceimpls; trackBy: trackTestServiceImplById">{{testServiceImplOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_testInfiniteScroll">Test Infinite Scroll</label>
                    <select class="form-control" id="field_testInfiniteScroll" name="testInfiniteScroll" [(ngModel)]="testOneToOne.testInfiniteScroll">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="testInfiniteScrollOption.id === testOneToOne.testInfiniteScroll?.id ? testOneToOne.testInfiniteScroll : testInfiniteScrollOption" *ngFor="let testInfiniteScrollOption of testinfinitescrolls; trackBy: trackTestInfiniteScrollById">{{testInfiniteScrollOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_testPager">Test Pager</label>
                    <select class="form-control" id="field_testPager" name="testPager" [(ngModel)]="testOneToOne.testPager">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="testPagerOption.id === testOneToOne.testPager?.id ? testOneToOne.testPager : testPagerOption" *ngFor="let testPagerOption of testpagers; trackBy: trackTestPagerById">{{testPagerOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_testPagination">Test Pagination</label>
                    <select class="form-control" id="field_testPagination" name="testPagination" [(ngModel)]="testOneToOne.testPagination">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="testPaginationOption.id === testOneToOne.testPagination?.id ? testOneToOne.testPagination : testPaginationOption" *ngFor="let testPaginationOption of testpaginations; trackBy: trackTestPaginationById">{{testPaginationOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_testCustomTableName">Test Custom Table Name</label>
                    <select class="form-control" id="field_testCustomTableName" name="testCustomTableName" [(ngModel)]="testOneToOne.testCustomTableName">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="testCustomTableNameOption.id === testOneToOne.testCustomTableName?.id ? testOneToOne.testCustomTableName : testCustomTableNameOption" *ngFor="let testCustomTableNameOption of testcustomtablenames; trackBy: trackTestCustomTableNameById">{{testCustomTableNameOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
