<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="testManyRelPaginDTO">
            <h2><span>Test Many Rel Pagin DTO</span> {{testManyRelPaginDTO.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Test Mapstruct</span></dt>
                <dd>
                    <span *ngFor="let testMapstruct of testManyRelPaginDTO.testMapstructs; let last = last">
                        <a [routerLink]="['/test-mapstruct', testMapstruct?.id, 'view' ]">{{testMapstruct.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/test-many-rel-pagin-dto-my-suffix', testManyRelPaginDTO.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
