<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="testManyToMany">
            <h2><span>Test Many To Many</span> {{testManyToMany.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Test Entity</span></dt>
                <dd>
                    <span *ngFor="let testEntity of testManyToMany.testEntities; let last = last">
                        <a [routerLink]="['/test-entity-my-suffix-alt', testEntity?.id, 'view' ]">{{testEntity.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Test Mapstruct</span></dt>
                <dd>
                    <span *ngFor="let testMapstruct of testManyToMany.testMapstructs; let last = last">
                        <a [routerLink]="['/test-mapstruct', testMapstruct?.id, 'view' ]">{{testMapstruct.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Test Service Class</span></dt>
                <dd>
                    <span *ngFor="let testServiceClass of testManyToMany.testServiceClasses; let last = last">
                        <a [routerLink]="['/test-service-class', testServiceClass?.id, 'view' ]">{{testServiceClass.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Test Service Impl</span></dt>
                <dd>
                    <span *ngFor="let testServiceImpl of testManyToMany.testServiceImpls; let last = last">
                        <a [routerLink]="['/test-service-impl', testServiceImpl?.id, 'view' ]">{{testServiceImpl.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Test Infinite Scroll</span></dt>
                <dd>
                    <span *ngFor="let testInfiniteScroll of testManyToMany.testInfiniteScrolls; let last = last">
                        <a [routerLink]="['/test-infinite-scroll', testInfiniteScroll?.id, 'view' ]">{{testInfiniteScroll.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Test Pager</span></dt>
                <dd>
                    <span *ngFor="let testPager of testManyToMany.testPagers; let last = last">
                        <a [routerLink]="['/test-pager', testPager?.id, 'view' ]">{{testPager.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Test Pagination</span></dt>
                <dd>
                    <span *ngFor="let testPagination of testManyToMany.testPaginations; let last = last">
                        <a [routerLink]="['/test-pagination', testPagination?.id, 'view' ]">{{testPagination.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Test Custom Table Name</span></dt>
                <dd>
                    <span *ngFor="let testCustomTableName of testManyToMany.testCustomTableNames; let last = last">
                        <a [routerLink]="['/test-custom-table-name', testCustomTableName?.id, 'view' ]">{{testCustomTableName.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/test-many-to-many-my-suffix', testManyToMany.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
