<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-test-entity-my-suffix-alt-heading">Create or edit a Test Entity</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!testEntity.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="testEntity.id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_userOneToMany">User One To Many</label>
                    <select class="form-control" id="field_userOneToMany" name="userOneToMany" [(ngModel)]="testEntity.userOneToMany"  required>
                        <option *ngIf="!editForm.value.userOneToMany" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id === testEntity.userOneToMany?.id ? testEntity.userOneToMany : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.userOneToMany?.dirty && editForm.controls.userOneToMany?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.userOneToMany?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label for="field_userManyToMany">User Many To Many</label>
                    <select class="form-control" id="field_userManyToMany" multiple name="userManyToMany" [(ngModel)]="testEntity.userManyToManies">
                        <option [ngValue]="getSelected(testEntity.userManyToManies, userOption)" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_userOneToOne">User One To One</label>
                    <select class="form-control" id="field_userOneToOne" name="userOneToOne" [(ngModel)]="testEntity.userOneToOne" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === testEntity.userOneToOne?.id ? testEntity.userOneToOne : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
